body 
{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
button
{
    width: 30%;

}

h1
{
    margin-bottom: 100px;
    font-size: 50;
    color: yellow;
}

a{
    float: right;
    background:black;
    color:white;
    cursor: pointer;
}

.c
{
    margin-right: 700px;
    width: 200px;
}

#status
{
font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#text
{
font-size: 18px;
}





